.app-form {
  padding: 2rem 0; }
  .app-form .container {
    width: 900px; }
    @media screen and (max-width: 767px) {
      .app-form .container {
        width: auto; } }
  .app-form hr {
    border-top: 1px solid #2c3e50; }
  .app-form form .jumbotron {
    background-color: transparent; }
  .app-form form .btn {
    background-color: #f67b00;
    border-color: #f67b00;
    letter-spacing: 2px;
    margin-top: 10px; }
  .app-form form .form-control {
    border-color: #2c3e50; }
  .app-form form label {
    font-weight: 600;
    font-size: 1.0rem;
    text-transform: uppercase; }
  .app-form form input::-webkit-input-placeholder,
  .app-form form textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4); }
  .app-form form input:-moz-placeholder,
  .app-form form textarea:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4); }
  .app-form form input::-moz-placeholder,
  .app-form form textarea::-moz-placeholder {
    color: #E29C45; }
  .app-form form input:-ms-input-placeholder,
  .app-form form textarea:-ms-input-placeholder {
    color: #E29C45; }
  .app-form form .hide {
    display: none; }
  .app-form form .more {
    display: block; }
  .app-form form #healthCarrier {
    margin-bottom: 1rem; }
  .app-form form.submitted .form-group,
  .app-form form.submitted .btn {
    display: none; }
  .app-form form.submitted .success {
    height: auto;
    opacity: 1;
    text-align: center;
    transition: opacity 0.4s ease-in-out; }
  .app-form form .success {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out; }
  .app-form form .app-form__error {
    color: red;
    padding-top: 0.5rem; }
    .app-form form .app-form__error.noerror {
      display: none; }
    .app-form form .app-form__error.error {
      display: block; }
